@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&family=Syne:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Syne", sans-serif;
}

@layer base {
  body {
    @apply bg-[#030508] text-[#c0d8f0] font-mono;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1c2e44;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #243650;
}
